<% include ./partials/_header %>

    <h2>Short URL: </h2>
    <h1><%= shortURL %></h1>
    <hr>
    <div>
      <h2 class="h2-display">Original URL</h2>
      <h4><a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a></h4>
    </div>
    <hr>
    <h3>If you are tired of the same destination update your URL:</h3>
    <div>
      <form action="/urls/<%= shortURL %>" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="longURL" value="<%= urls[shortURL] %>">
        </div>
        <div class="d-flex">
          <input class="btn btn-dark" type="submit" value="Update">
        <a class="btn btn-light ml-4" href="/urls">Back</a>
        </div>
      </form>

    </div>


<% include ./partials/_footer %>
